body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.red-color{
    color: red;
}

.Orange-color{
    color: orange;
}
.flexible-container{
    display: flex;
    

}
.icon-star{
    color: orange;
}
.lend-for-text a{
    text-decoration: none;
    color: white;
    background-color: green;
    padding: 10px 20px;
    border-radius: 5px;
}
.class-item{
    display: flex;
    box-shadow:5px 5px 25px rgb(201, 194, 194) ;
    border-radius: 8px;
    
    
}
.class-item h4{
    margin-right: 10px;
    padding-left: 3%;
}
.lend-for-text {
    width: 80%;
    padding-left: 3%;

}
.lend-for-text img{
    width: 80%;
}
.support{
    display: flex;
    
    
}
.support h4{
    margin-right: 100px;
    box-shadow: 10px 10px 20px gray;
    
}

.button { 
    text-decoration: none;
    color: white;
    background-color: green;
    padding: 5px 10px;
    border-radius: 5px;
}